{{#custom-tag tagName=handlerTagName classes=handlerClassesComputed action="toggleMenu" bubbles=false}}
    {{#if selectedName}}{{selectedName}}{{else}}{{defaultName}}{{/if}} <b class="caret"></b>
{{/custom-tag}}
<ul class="dropdown-menu">
    {{#each items}}
        <li><a {{action "selectItem" this}} class="pointer">{{name}}</a></li>
    {{/each}}
    {{yield}}
</ul>