<div class="top-menu">
    <span class="logo"><i class="glyphicon glyphicon-cog"></i> nodeDBAdmin</span>
    {{#link-to 'collection' 'system%23pastures' (query-params pageNum=1) class="right"}}Edit connections{{/link-to}}
</div>
<aside class="left-panel">
    <div>
        {{view Ember.Select contentBinding="connections"
        value=pastureId
        prompt="Select connection"
        optionValuePath="content.id"
        optionLabelPath="content.name"}}
    </div>
    {{#if secondDropDownItems}}
    <div>
        {{view Ember.Select contentBinding="secondDropDownItems"
        value=secondDropDownId
        prompt="Select database"
        optionValuePath="content.id"
        optionLabelPath="content.name"}}
    </div>
    {{/if}}
    {{left-menu items=leftMenuItems curPath=curCollPath}}
</aside>
<div class="wrapper">
    <main class="content">{{outlet}}</main>
</div>
{{#if errorOpen}}
<div class="balloon error">
    <div class="closer"><a href="" {{action 'closeError'}}><i class="glyphicon glyphicon-remove"></i></a></div>
    <div class="header">Error</div>
    <div class="content">{{errorText}}</div>
</div>
{{/if}}
{{#if emptyConntectionsOpen}}
    <div class="balloon right arrow-right">
        <div class="closer"><a href="" {{action 'closeFirstEnter'}}><i class="glyphicon glyphicon-remove"></i></a></div>
        <div class="header">No connections</div>
        <div class="content">You need to add one or mode connections</div>
    </div>
{{/if}}
