<div class="top-menu">
    <span class="logo"><i class="glyphicon glyphicon-cog"></i> nodeDBAdmin</span>
    {{#link-to 'collection' 'system%23pastures' (query-params pageNum=1) class="right"}}Edit connections{{/link-to}}
</div>
<aside class="left-panel">
    <div>
        <select>
            <option>sssss</option>
        </select>
    </div>
    <div>
        <select>
            <option>sss</option>
        </select>
    </div>
</aside>
<div class="wrapper">
    <main class="content">{{outlet}}</main>
</div>
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{select-drop-down tagName="li" defaultName="Select connection" items=connections selectedId=pastureId}}
                {{#if secondDropDownItems}}
                    {{select-drop-down tagName="li" defaultName="Select database" items=secondDropDownItems selectedId=secondDropDownId}}
                {{/if}}

            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
    {{#if errorOpen}}
    <div class="error-message">
        <div class="alert alert-danger fade in">
            <button type="button" class="close" aria-hidden="true" {{action 'closeError'}}>×</button>
            <h4>Error!</h4>
            <p>{{errorText}}</p>
        </div>
    </div>
    {{/if}}
    {{#if emptyConntectionsOpen}}
    <div class="error-message" style="right: 0">
        <div class="alert alert-warning fade in">
            <button type="button" class="close" aria-hidden="true" {{action 'closeFirstEnter'}}>×</button>
            <h4>No connections!</h4>
            <p>You need to add one or mode connections</p>
        </div>
    </div>
    {{/if}}
</div>
<div class="container-fluid" style="margin-top: 55px;">
    <div class="row">
        <div class="col-md-1 left-menu-col">
            {{left-menu items=leftMenuItems curPath=curCollPath}}
        </div>
        <div class="col-md-11"></div>
    </div>
</div>
