<form class="edit-form">
    <div class="fields">
        {{#each showFields}}
            <div>
                <label {{bind-attr for=domId}}>{{name}}</label>
                <div>{{view viewClass value=value}}</div>
            </div>
        {{/each}}
    </div>
    <div class="buttons">
        <button {{action 'save'}} type="submit" class="btn btn-success" {{bind-attr disabled=saveDisabled}}>Save</button>
        <button {{action 'cancel'}} type="submit" class="btn btn-default">Cancel</button>
    </div>
</form>
