{{pagination-links curPageNum=pageNum pageSize=pageSize allCount=model.allCount}}
<table class="list">
<thead>
    <tr>
        {{#if model.pkFields}}<th>&nbsp;</th>{{/if}}
        {{#each col in model.headers}}
            <th {{action 'clickSort' col}}>{{col}} {{table-sort-order col=col sortBy=sortBy sortOrder=sortOrder}}</th>
        {{/each}}
    </tr>
</thead>
<tbody>
{{#each row in acont}}
    <tr>
        {{#if model.pkFields}}{{#if row.pk}}
        <td>
            {{#if model.features.updateItem}}{{#link-to 'collection.edit' (query-params pk=row.pk)}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}{{/if}}
            {{#if model.features.deleteItem}}<span class="glyphicon glyphicon-trash pointer" {{action 'removeRow' row.pk}}></span>{{/if}}
        </td>
        {{/if}}{{/if}}
        {{#each col in row}}
            <td>{{showValue col}}</td>
        {{/each}}
    </tr>
{{/each}}
</tbody>
</table>

<div class="bottom-button-panel">
    {{#if model.features.addItem}}
        {{#link-to 'collection.edit' (query-params pk=false)}}<span class="glyphicon glyphicon-plus"></span> add{{/link-to}}
    {{/if}}
    <a href="" {{action 'reload'}}><span class="glyphicon glyphicon-repeat"></span> reload</a>
</div>
